@using Life_Paragraph_Core
@{
        var dateTime = ViewBag.Time;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer" charset="UTF-8">
    <title>Index</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/vue-router.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height:20px"></div>
        <div class="col-md-12">
            <div id="vueApp3" class="panel panel-default" style="margin-top:20px;">
                <div class="panel-heading">
                        <h3 class="panel-title text-success" style="font-weight:bold;">
                            <a class="text-success">{{gameNodeName}}</a>
                        </h3>
                    <small>游戏均来自TapTap </small>
                </div>
                <div  class="panel-body">
                    
                    <ul class="list-unstyled">
                        <li style="list-style-type:none;">
                            <div class="row">
                                <div v-for="item in GameList" class="panel panel-default col-md-3">
                                    <div>
                                        <a :href="item.fromUrl"><img v-bind:src="item.content" v-bind:data-src="item" data-taptap-image="lazyLoading" class="show img-responsive img-circle center-block" style="display: block; width:150px ; height:150px" /></a>
                                    </div>
                                    <div>
                                        <a class="text-info text-center" :href="item.fromUrl"><p><h6>{{item.gameName}}</h6></p></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5" ></div>
                                <div class="col-md-4" ><span v-if="pageIndex>1" class="btn btn-info btn-lg" v-on:click="pageIndex--,pageClick()">上翻</span><span style="margin-left:10px" class="btn btn-info btn-lg" v-on:click="pageIndex++,pageClick()">下翻</span></div>
                                <div class="col-md-3" ></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        </div>
        <div class="row">
            <div class="span12">
                <ul class="thumbnails">
                    <li class="span4">
                        <div class="thumbnail">
                            <img alt="300x200" src="img/people.jpg" />
                            <div class="caption">
                                <h3>
                                    冯诺尔曼结构
                                </h3>
                                <p>
                                    也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img alt="300x200" src="img/city.jpg" />
                            <div class="caption">
                                <h3>
                                    哈佛结构
                                </h3>
                                <p>
                                    哈佛结构是一种将程序指令存储和数据存储分开的存储器结构，它的主要特点是将程序和数据存储在不同的存储空间中，进行独立编址。
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <img alt="300x200" src="img/sports.jpg" />
                            <div class="caption">
                                <h3>
                                    改进型哈佛结构
                                </h3>
                                <p>
                                    改进型的哈佛结构具有一条独立的地址总线和一条独立的数据总线，两条总线由程序存储器和数据存储器分时复用，使结构更紧凑。
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    <script>
        var v = new Vue({
            el: "#vueApp3",
            data: {
                GameList: '',
                gameNodeName:'',
                pageIndex:'1',
                pageSize:'20'
                //src: '',
                //gameName:'',
            },
            methods: {
                recommend: function () {
                    var _self = this;
                    var selectEntity = { gameNodeID:@ViewBag.GameNodeID, "pageIndex": _self.pageIndex, "pageSize": _self.pageSize };
                    $.ajax({
                        type: "get",
                        data: selectEntity,
                        url: "https://localhost:44370/api/GameStrategy/ByGameNodeID",
                        headers: {
                            "Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiMTExMEBxcS5jb20iLCJlbWFpbCI6IjExMTBAcXEuY29tIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZWlkZW50aWZpZXIiOiIzIiwiZXhwIjoxNTMwODQ3NTgxLCJpc3MiOiJMaWZlX1Rlc3RJc3N1ZXIiLCJhdWQiOiJMaWZlLVRlc3RBdWRpZW5jZSJ9.6NRFa42rkqxN6WS9srQ90b_bl9_APcD7ICJJCwLwXBo"
                        },
                        dataType: "json",
                        success: function (data) {
                            _self.gameNodeName = JSON.parse(JSON.stringify(data.viewModel[1].gameNodeName));
                            _self.GameList = JSON.parse(JSON.stringify(data.viewModel));
                        }
                    });
                },
              pageClick: function () {
                    var _self = this;
                    var selectEntity = { gameNodeID:@ViewBag.GameNodeID, "pageIndex": _self.pageIndex, "pageSize": _self.pageSize };
                    $.ajax({
                        type: "get",
                        data: selectEntity,
                        url: "https://localhost:44370/api/GameStrategy/ByGameNodeID",
                        dataType: "json",
                        success: function (data) {
                            _self.GameList = JSON.parse(JSON.stringify(data.viewModel));
                        }
                    });
                }
            }
        });
        v.recommend(); //加载事件
    </script>
</body>
</html>