@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/vue-router.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input id="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input id="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">

    </div>
</div>
    </body>
</html>
<script>
    //获取令牌
    var email = $("#email").val();
    var password = $("#password").val();
    var Param = { "userEmail": email, "password": password };
    $.ajax({
        type: "post",
        data: Param,
        url: "https://localhost:44370/api/token",
        dataType: "json",
        success: function (data) {
            alert(JSON.stringify(data.access_token));
            localStorage.setItem("token", data.access_token);
        },
        beforeSend: function (q) {
            q.setRequestHeader("Authorization", 'Bearer ' + localStorage.getItem("token"));
        }
    })
</script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
